# ignore colcon-build files
build/
install/
log/

# ignore vscode files
.vscode/*
!.vscode/launch.json

# ignore github copilot instructions
.github/

# Ignore pycache files
__pycache__/
*.py[cod]
*$py.class