<?xml version="1.0" encoding="utf-8"?>
<robot name="quadruped" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ros2 plugins -->
    <ros2_control name="quadruped_hardware/ROS2CANInterface" type="system">
        <hardware>
            <!-- namespace/class-->
            <plugin>quadruped_hardware/ROS2CANInterface</plugin>
            
            <!-- CAN bus 0 configuration -->
            <param name="can_interface" value="can0"/>
            <param name="can_ids" value="1,2,3,4"/>
            <command_interface name="CAN0_cmd"/>
            <state_interface name="CAN0_msg"/>

            <!-- CAN bus 1 configuration
            <param name="can_interface" value="can1"/>
            <param name="can_ids" value="5,6,7,8"/>
            <command_interface name="CAN1_cmd"/>
            <state_interface name="CAN1_msg"/> -->
        </hardware>

    </ros2_control>

</robot>